.slide {
    padding: 0;
    margin: 0;
    position: absolute;
    left: 1vw;
    top: 1vw;
    width: 98vw;
    height: calc(100vh - 2vw);
    font-family: "Quicksand", sans-serif;
    overflow: hidden;
}